<p id="notice"><%= notice %></p>
<h1>Listing Birthdays</h1>
<table>
  <tbody>
    <% @birthdays.each do |birthday| %>
      <tr>
        <td><%= birthday.name %></td>
        <td><%= @age %></td>
        <td><%= link_to 'Show', birthday %></td>
        <td><%= link_to 'Edit', edit_birthday_path(birthday) %></td>
        <td><%= link_to 'Destroy', birthday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h4><%= link_to 'Add A Birthday', new_birthday_path %></h4>
