<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Birthdays" %></title>
    <%= favicon_link_tag 'touch-icon-iphone.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
    <%= favicon_link_tag 'touch-icon-ipad.png', :rel => 'apple-touch-icon', :sizes => '76x76', :type => 'image/png' %>
    <%= favicon_link_tag 'touch-icon-iphone-retina.png', :rel => 'apple-touch-icon', :sizes => '120x120', :type => 'image/png' %>
    <%= favicon_link_tag 'touch-icon-ipad-retina.png', :rel => 'apple-touch-icon', :sizes => '152x152', :type => 'image/png' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="bg">
    <% if notice or alert %>
      <div class="row">
        <%= custom_flash %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
