<h1>Birthdays 🎉</h1>
<div class="center row">
  <div class="small-11 large-6 small-centered large-centered columns">
    <div class="panel radius">
      <div class="row">
        <h3 class="subheader translucent">Sign Up</h3>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="row">
          <div class="field small-12 columns translucent">
            <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
          </div>
        </div>
        <div class="row">
          <div class="field small-12 columns translucent">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password (8 characters min)" %>
          </div>
        </div>
        <div class="row">
          <div class="field small-12 columns translucent">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
          </div>
        </div>
        <div class="row">
          <div class="actions small-12 columns">
            <%= f.submit "Sign Up", :class => "button expand radius" %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="columns translucent">
          Already have an account? <%= link_to "Log In", new_user_session_path %>
        </div>
      </div>
    </div>
  </div>
</div>
